*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #548687;
 
}
h1{
    padding: 10px;
    font-size: 3rem;
}

.container{
    height: 70vh;
    /* width: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game{
    /* margin: 10vmin; */
    height: 70vmin;
    width: 70vmin; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vmin;
}
.box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 1rem;
    border: none; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    /* color: #b0413e; */
    font-size: 8vmin;
    font-weight: 600;
}
#res-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
.win-name{
    margin-top: 2rem;
    font-size: 2.6rem;
    color: #ffffc7;
    font-weight: 900;
}
